#curArrowLeft, #curArrowRight, #recArrowLeft, #recArrowRight {
    top: 22%;
    height: 297px;
    width: 20px;
}

#recArrowRight {
    right: 34%;
}

#recArrowLeft {
    left: 1%;
}

#recArrowUp {
    top: 4.5%;
    left: 30.5%;
}

#recArrowDown {
    bottom: 16%;
    left: 30.5%;
}

table.recorded-list {
    margin: 75px auto 0 35px;
    left: 105px;
    color: #ffffff;
}

#snippet-recorded-info {
    position: absolute;
    top: 280px;
    left: 900px;
    width: 340px;
    color: #ffffff;
}

#snippet-recorded-info > div.info {
    position: absolute;
    top: 260px;
    color: #ffffff;
    width: 340px;
}

#snippet-recorded-info table.info-event, #snippet-recorded-info table.info {
    width: 340px;
}
#snippet-recorded-info table.info {
    float: right;
}

#snippet-recorded-info .validity, #snippet-recorded-info .length, #snippet-recorded-info .totalCapacity, #snippet-recorded-info .freeCapacity, #snippet-recorded-info .countOfRecorded {
    text-align: left;
}

#snippet-recorded-info table.info th, #snippet-recorded-info table.info td, #snippet-recorded-info > div.info-event th, #snippet-recorded-info > div.info-event td {
    font-size: 20px;
}

.px350 {
    display: table-cell;
    background: #242424;
    border-radius: 5px;
    width: 350px;
    font-weight: normal;
}

.px350 div.text {
    width: 290px;
}
.box > div {
    padding: 0 25px;
    text-overflow: ellipsis;
    line-height: 46px;
    white-space: nowrap;
    overflow: hidden;
    color: #FFF;
    text-align: left;
    font-size: 23px;
}

.px240 {
    display: table-cell;
    background: #242424;
    border-radius: 5px;
}

.px203 {
    display: block;
    background: #242424;
    border-radius: 5px;
    width: 203px;
}

#recArrowRight .arrow {
    right: -50px;
}

#snippet-recorded-info > div.info-event {
    color: #ffffff;
}

#snippet-recorded-info > div.info {
    position: absolute;
    top: 260px;
    color: #ffffff;
    width: 340px;
}

#snippet-recorded-info > div.info-event .eventName {
    padding-left: 6px;
    font-size: 22px;
}

#snippet-recorded-info table td {
    text-align: right;
}