body {
    font-family: sans-serif;
}

#color-picker-container {
    float: left;
    width: 400px;
    margin: 20px;
}

#container {
    overflow: hidden;
    width: 1800px;
}

#viewport {
    width: 1280px;
    height: 720px;
    background: black;
    position:relative;
    float: left;
}

#choose-scene-container {
    width: 1280px;
    height: 40px;
    background:lightblue;
}

.scene.selected {
    display:block;
}

.choose-button {
    height: 40px;
    float:left;
    padding: 11px 30px;
    box-sizing: border-box;
}

.choose-button.selected {
    background: palegoldenrod;
}

#scene-pairing {
    display: none; /*temporary*/
}

.change-focus-container .button {
    border: none;
    background: rgba(23,109,48,0.6);
    color: white;
    border-radius: 9px;
    box-sizing: border-box;
    width: 105px;
    height: 34px;
    margin: 5px;
}

.change-focus-container .button:hover {
    border: 3px solid rgb(23,109,48);
}

.change-focus-container .button.focus {
    background: rgba(23,109,48,1);
}

.pairing-background {
    width: 100%;
    height: 100%;
    background: #df6500 no-repeat;
}

.hidden {
    display: none;
}

.change-focus-container {
    position: relative;
    width: 350px;
    float: left;
    margin: 20px 0 0 20px;
}

.change-font-button {
    display: block;
    margin: 32px auto;
    width: 200px;
    background: white;
    padding: 12px;
    border-radius: 20px;
}

.change-font-button.selected {
    color: white;
    background: rgba(23,109,48,1);
}

.dropzone {
    float:left;
}

.rejected-file-container {
    width: 50%;
    margin: 55px auto 0;
    color: white;
    text-align: center;
    background: transparent;
    display: block;
}

.rejected-error-text {
    width: 100%;
    height: 100%;
    background: rgba(23,109,48,0.4);
    color: white;
    border-radius: 9px;
    box-sizing: border-box;
    padding: 98px 70px;
    border: 7px solid rgb(23,109,48);
}

.hidden {
    display: none;
}

table {
    border-collapse: separate;
}

.box {
    padding: 3px;
}

ul {
    margin-top: 35px;
}